.Pricing 
  padding 80px 0

  .Stroke 
    height 2px
    background linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,68,214,1) 50%, rgba(0,0,0,1) 100%)


  h1 
    background: #D3FFE7;
    background: linear-gradient(to right, #D3FFE7 0%, #CCE7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700
    font-size 20px
    text-align center
    padding-bottom 30px

  .Table 
    border-radius 34px
    border 2px #363636 solid
    padding 80px 10px 20px 10px

    .Header 
      display flex
      align-content center
      justify-content: space-evenly;
      width 100%

      h2 
        color white
        font-weight: 700
        font-size 20px

      h3 
        color white 
        font-weight 100
        font-size 12px

      h4 
        background: #00FF85;
        background: -webkit-linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
        background: -moz-linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
        background: linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700
        font-size 20px

    .Features 
      color white

      ul 
        list-style: none
        padding-left: 21px;
        padding-top 20px

        .Check 
          display block
          width 20px
          height 20px 
          background-image url('./check.svg')
          margin-right 10px

        li
          display: flex
          align-content: center;
          align-items: center;

          .New 
            font-size 10px
            margin-left 5px
            padding 2px 4px
            background: #00FF85;
            font-weight: 900
            background: -webkit-linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
            background: -moz-linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
            background: linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border 1px #00FF85 solid
            border-radius 4px

          span.Type
            font-weight: 700 
            background: #D3FFE7;
            background: linear-gradient(to right, #D3FFE7 0%, #CCE7FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size 12px

          h5 
            font-weight 400
            font-size 16px
            display: flex;
            align-items: center;

    .Call
        margin-top 20px 
        text-align center

        a 
            background: linear-gradient(to right, #00FF85 0%, #00FFF0 100%);
            border-radius 34px
            border none

        .ChangePaymentType
            background transparent
            border 1px white solid 
            font-size 16px
            font-weight: 700
            color rgba(255,255,255,.5)
            border none